body{
    
    background-color: #4169e1;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

.video_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

video {
    width: 1000px;
    height: 500px;
    margin-top: 30px;
}
.about {
    
    width: 1000px;
    margin: 0 auto;
}
.about p{
    
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}

/* Font size for small screens (e.g., phones) */
@media (max-width: 599px) {

    video {
        height: 200px;
        width: 300px;
    }

    .about {
        background-color: lightgray;
        width: 400px;
        margin: 0 auto;
    }

    .about p{
        
        font-size: 15px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        
    }
}