
body{background-color: #4169e1;}
h1, form, li {
    text-align: center;
}
a { color:dodgerblue;}
h1{ font-size: 50px}
p{font-size: 25;}


input {    width: 200px;
    height: 20px;
    font-size: 20px;
}


input[type="submit"] {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

a {
    font-size: 20px;
    
}
