body {
    background-color: #4169e1;

}
h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}
       /* Add bullet points to unordered list */
ul {
    list-style-type: circle;  /* You can also use circle, square, etc. */
}



li a, ul {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center; 
    cursor: pointer;
    color: black;
    font-size: 24px;
}

h1, h2{
    text-align: center;
    
}
@media screen and (max-width: 599px) {
    h1 {
        font-size: 24px;
    }
    li a {
        font-size: 12px;
    }
    h2 {
        font-size: 20px;
        padding: 10px;
    }


}