{% extends "navbar.html" %}
{% block content %}

<html>
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_me.css')}}">
    <head>

    </head>

    <body>
        <div class="container">
            <div class="video-container">
                <video controls autoplay muted loop>
                    <source src="{{ about_me_vid }}" type="video/mp4" >
                </video>
            </div>
            
            <div class="about">

            <p class="intro">
                Hey there, my name is Jose Talavera and I am drug free strength training coach.
            </p>
            <p class="about-me">
                My passion for bodybuilding began during my high school years, I looked at myself in the mirror and decided I wanted to look like a superhero.
                It wasn't easy at first, I felt like I was in a whole new world and little to no knowledge in this journey. I have learned quite a lot from this different world, and
                would like to share it with you.
            </p>
            <p class="my-goal">
                I have gained experience through practice and teaching as a Personal Trainer since 2022. My main for you is great health and safe programs to avoid injuries. Everything I share with you I have tried and practiced it.
                </p>
            </div>
        </div>
    </body>
</html>

{% endblock content%}