{% extends "navbar.html" %}
{% block content %}

<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_me.css')}}">
    <head>

    </head>

    <body>
        <div class="about">
        <p>1. I have always had a passion for health and fitness. Realizing my high school career kickstarting my love for bodybuilding, I wanted to facilitate that growth and spread the passion with my clients.
            2. My skill set lies within strength training. I love pushing myself past my physical limitations and incorporating my love for bodybuilding. The art essentially becomes a hobby. 
            3. I’ve always believed presenting a solution to any problem I encountered in my life so far. No one is going to care more about your future than you so when my back is against the wall I make sure to finish the job. For your future self will thank the You in the present for pushing through.
            4. My clients like that I take a very no BS approach towards training. I wouldn’t put my clients through something I haven’t put myself through so the intensity and discipline expected from programmed training will definitely leave its mark.</p>
        </div>
    </body>
</html>

{% endblock content%}