{% extends "navbar.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='days.css')}}">
<html>
    <head>
        <title>Workout Program</title>
    </head>

    <body>
        
    

        <div id="workouts">
            <h1 class="day_title">Day {{day.title()}}</h1>
            <p><b>Intensity is the amount of strength you should be using in your seperate Reps.</b></p>
            <p>
                Here is the routine we will be following, we will focus on keeping this in 3-5 sets with 12-15 repetitions.
                We want to track your progress so please input your data in the input boxes.
            </p>
            {% for workout, workout_link in workout_day.items() %}
            
               
            <div class="workout">
                
                


                <table>
                    <thead>
                        <tr>
                            <th class="one">Workout</th>
                            <th>Sets</th>
                            <th>Reps</th>
                            <th>Weight lifted</th>
                        </tr>
                    </thead>
                    <tbody>
          
                            <th><a class="video-link" data-video-url="{{workout_link}}">{{workout.title()}}</a></th>
                            <td><input class="sets" name="sets"></td>
                            <td><input class="reps" name="reps"></td>
                            <td><input class="weight-lifted" name="weight_lifted"> lbs</td>
                        </tr>
                    </tbody>
                    </table>
            </div>

            {% endfor %}
            <div id="complete-btn">
                <form id="change-day-id-form" action="{{ url_for('change_day_id') }}" method="POST">
                    <input type="hidden" name="day_id" value="{{day.id}}">
                    <button data-id="{{day.id}}" type="submit" class="change-day-id-btn" value="change day id">Complete</button>
                </form>
            </div>
        </div>
        <script src="{{ url_for('static', filename='day.js') }}"></script>

    </body>
</html>
{% endblock content%}