{% extends "base.html" %}
{% block content %}


<html>
    <head>
        <title>Workout Program</title>
    </head>

    <body>
        <h1>Workout Program</h1>
    

        <div>
            {% for workout_name, workouts in routine_days.items() %}
            <h1>{{workout_name}}</h1>
                {% for workout, workout_link in workouts.items()%}
            <div>
                <a href={{workout_link}}>{{workout}}</a>
                
            </div>
                {% endfor %}
            {% endfor %}

        </div>
    </body>
</html>
{% endblock content%}