{% extends "navbar.html" %}
{% block content %}


<html>
    <head>
        <title>Workout Program</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='routine.css')}}">
        
    </head>

    <body>
        <h1>Workout Program</h1>
    

        <div>
            {% for workout_name, workouts in routine_days.items() %}
            <h2>{{workout_name.title()}}</h2>
                {% for workout, workout_link in workouts.items()%}
            <div>
                <ul>
                <li><a class="video-link" data-video-url="{{workout_link}}">{{workout.title()}}</a></li>
                </ul>
                
            </div>
                {% endfor %}
            {% endfor %}

        </div>

        <script src="{{ url_for('static', filename='routine.js') }}"></script>
    </body>
</html>
{% endblock content%}